[user]
	email = pk484442@gmail.com
	name = Prakash4844
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	editor = code
[branch]
	autosetuprebase = always
[color]
	ui = auto
	status = auto
	branch = auto
[init]
	defaultBranch = main
[commit]
        gpgsign = true
[gpg]
        format = ssh
